<!-- accounts/templates/accounts/patient_dashboard.html -->
{% extends "base.html" %}
{% block title %}Patient Dashboard{% endblock %}
{% block content %}
  <h2>Patient Dashboard</h2>
  <div class="card profile">
    {% if user.profile_pic %}
      <img src="{{ user.profile_pic.url }}" alt="Profile" class="profile-pic">
    {% endif %}
    <table class="info-table">
      <tr><th>Full name</th><td>{{ user.first_name }} {{ user.last_name }}</td></tr>
      <tr><th>Username</th><td>{{ user.username }}</td></tr>
      <tr><th>Email</th><td>{{ user.email }}</td></tr>
      <tr><th>Role</th><td>{{ user.get_role_display }}</td></tr>
      <tr><th>Address</th><td>
        {{ user.address_line1 }}<br>
        {{ user.city }} - {{ user.state }}<br>
        {{ user.pincode }}
      </td></tr>
    </table>
  </div>
{% endblock %}
